.table{
    width: 100%;
    min-height: 100px;
}

.row {
    width: 100%;
    display: flex;
    // justify-content: space-around;
    flex-direction: row;
    background: #fff;
    margin: 8px 0px;
    box-shadow: 0px 0px 2px #dedede;
    border-radius: 5px;
    justify-content: start;
    padding: 0px 18px;
    box-sizing: border-box;
}

.col{
    padding: 4px 4px;
    border: 0px;
    outline: none;
    border: 1px solid #fff0;
    display: flex;
    align-items: center;
    color: #333;
    // width: 35%;
}

.col-input{
    padding: 12px 8px;
    border: 0px;
    outline: none;
    border: 1px solid #fff0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    // max-width: 220px;
    font-size: 14px;
}

.col-group {
    display: flex;
    align-items: center;
    flex:100%;
}


.col-img {
    width: 100px;
    margin-right: 5px;
}

.id {
    input {
        font-size: 16px;
        text-align: left;
    }
   
}

.table-header  .row{
    background: none;
    box-shadow: 0px 0px 0px #dedede;
    font-weight: 600;
}

.editing {
    background: #c4e0ff38;
    border: 1px solid #9999d0;
    outline: none;
}

.action-button {
    background: #3cc395;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.2s;
    &:hover {
        background: #3cc395;

    }
}