<header>
    <div class="header-content">
        <div class="logo" routerLink="home">
            <img src="assets/images/Aditii.png" alt="">
        </div>
        <div>
            <form action="#">
                <div class="search-bar">
                    <input type="text">
                    <img src="assets/images/Shape_1.svg" alt="">
                </div>
            </form>
        </div>
        <div class="cart">
            <img src="assets/images/Shape_2.svg" alt="">
            <span class="cart-amount">$300</span>
        </div>
    </div>
</header>
<div class="slider">
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/discounts">Discounts</a>
            </li>
            <li>
                <a routerLink="/store">Store</a>
            </li>
            <li>
                <a routerLink="/accessories">Accessories</a>
            </li>
            <li>
                <a routerLink="/shoes">Shoes</a>
            </li>
            <li>
                <a routerLink="/contacts">Contact us</a>
            </li>
            <li>
                <a routerLink="/login">Admin</a>
            </li>
        </ul>
    </nav>
</div>